<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.ResultDMapper">
    <resultMap id="resultDMap" type="cn.edu.zjut.po.ResultD">
        <id property="Id" column="Id" javaType="java.lang.Integer"></id>
        <result property="stu_id" column="stu_id" javaType="java.lang.String"/>
        <result property="sign_id" column="sign_id" javaType="java.lang.Integer"/>
        <result property="stu_name" column="stu_name" javaType="java.lang.String"/>
        <result property="stu_class" column="stu_class" javaType="java.lang.String"/>
        <result property="isSigned" column="isSigned" javaType="java.lang.Boolean"/>
    </resultMap>
    <select id="selectDetailsBySign_id" resultMap="resultDMap" resultType="cn.edu.zjut.po.ResultD">
 select * from ResultDetails where sign_id=#{sign_id}
</select>
    <update id="updateResultDetail">
        update ResultDetails set isSigned=#{1} where Id=#{0}
    </update>
</mapper>
